.contenList {
    width: 700px;
    background: white;
    margin: 0 auto;
    margin-top: 6px;
    .contenList-box {
        padding: 11px 11px 0 11px;
        .contenList-first {
            .contenList-first-left {
                color: #999;
                padding: 5px 0;
                display: flex;
                align-items: center;
                font-size: 12px;
                div:nth-child(2) {
                    height: 10px;
                    width: 1px;
                    margin: 4px 5px;
                    background: #eee;
                }
            }
        }
        .contenList-three {
            padding-top: 6px;
            font-size: 12px;
        }
    }
}

@media(max-width:960px) {
    .contenList {
        width: 100%;
    }
}